body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: black;
    text-align: left;
    text-indent: 25px;
}

h2{
    color: black;
}

p {
    color: black;
    text-align: justify;
    text-indent: 25px;
    font-size: 16px;
}
